[submodule "src/btc"]
	path = src/btc
	url = git@github.com:neoricalex/RLTrader.git
[submodule "src/base"]
	path = src/base
	url = https://github.com/neoricalex/Stock-Trading-Environment
[submodule "src/bot"]
	path = src/bot
	url = git@github.com:neoricalex/trading-bot.git
